::placeholder {
	color: rgb(170, 170, 170);
}

.logoText {
	color: #95FFDF;
	font-size: 18px;
}

.titleText {
	font-size: 24px;
	margin: 24px;
	line-height: 16px;
	padding: 16px;
}

.pantryBox {
	border-radius: 4px;
	border: 1px solid #d0d0d0;
}

.pantryTextBoxContainer {
	width: 65%;
	display: inline-block;
	border: 1px solid #d0d0d0;
	border-top-left-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 0;

}

input.pantryTextBox {
	width: 84%;
	border-radius: 4px;
	border: none;
	display: inline-block;
	font-size: 20px;
	padding: 6px;
}

input.pantryTextBox:focus{
	outline: none;
}

.addButton {
	background-color: #95FFDF;
	width: 12%;
	border-top-left-radius: 0;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 4px;
	border: 1px solid #d0d0d0;
	color: rgb(170, 170, 170);
	display: inline-block;
	text-align: center;
	font-size: 22px;
	padding-top: 2px;
	padding-bottom: 0.6px;
	position: relative;
	right: 5.5px;
	top: 1.3px;
}

.addButton:hover {
	background-color: #87f3d2;
	color: rgb(170, 170, 170);
}

.pantryBody {
	padding-bottom: 14px;
	margin-left: 12px;
	margin-right: 12px;
}

.emptyPantry {
	color: rgb(170, 170, 170);
	height: 0;
	margin-left: 8px;
	position: relative;
	top: 22px;
}

.itemRow {
	border-bottom: 1px solid #d0d0d0;
	height: 66px;
}

.pantryItem {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 4px;
	padding-left: 4px;
	border-radius: 4px;
}

.pantryItem:hover {
	background-color: rgb(250, 250, 250);
}

.expandButton {
	background-color: #f7f7f7;
	border: 1px solid #d0d0d0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin: auto;
	width: 65px;
	text-align: center;
	height: 20px;
	position: relative;
	bottom: 20px;
}

.expandButton:hover {
	background-color: #f1f1f1;
}

.collapseButton {
	background-color: #f7f7f7;
	border: 1px solid #d0d0d0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin: auto;
	width: 65px;
	text-align: center;
	height: 20px;
	position: relative;
	bottom: 1px;
}

.collapseButton:hover {
	background-color: #f1f1f1;
}

.icon-color {
	color: rgb(170, 170, 170);
}

.unfav-color {
	color: gold
}


.expand-text{
	color: rgb(120, 120, 120);
	text-align: center;
	font-size: 14px;
	position: relative;
	bottom: 3px;
}

.chevron-icon {
	color: rgb(120, 120, 120);
	text-align: center;
	font-size: 10px;
	position: relative;
	bottom: 4.5px;
}

.top-8 {
	position: relative;
	top: 8px;
}

.item-text {
	outline:none;
}

.generateButton {
	background-color: #95FFDF;
	border-radius: 4px;
	border: 1px solid #d0d0d0;
	text-align: center;
	font-size: 24px;
	padding: 10px;
}

.generateButton:hover {
	background-color: #87f3d2;
}

.recipeCard {
	margin-top: 24px;
	border: 1px solid#d0d0d0;
	border-radius: 4px;
	max-height: 250px;
	overflow-y: auto;
}

.recipeHeader {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 1px solid #d0d0d0;
	font-size: 18px;
	padding: 16px;
	display: block;
	width: 100%;

}

.recipeHeader:hover {
	cursor: pointer;
	background-color: #f0f0f0;
}

.recipeBody {
	padding: 16px;
	padding-top: 8px; /* Adjust as needed */
}

.recipeContent {
	text-align: left;
	margin-bottom: 4px; /* Adjust as needed */
}

.trashButton {
	color: rgb(170, 170, 170);
}

.trashButton:hover {
	color: red;
}

.favButton {
	color: rgb(170, 170, 170);
}

.favButton:hover {
	color: gold;
}

.unfavButton:hover {
	color: rgb(170, 170, 170);
}

.unPinnedColor {
  color: rgb(170, 170, 170);
}

.unPinnedColor:hover {
  color: red;
}

.PinnedColor {
	color: red;
}

.PinnedColor:hover {
	color: rgb(170, 170, 170);
}

.favoritesContainer {
	border: 1px solid #d0d0d0;
	border-radius: 4px;
	padding: 24px;
	overflow-x: auto; /* horizontal scrolling for favs */
	max-height: 1000px; /* Set initial height to fit content */
	transition: max-height 0.25s ease-out; /* animation */
  }
  
.favoritesContainer.collapsed {
	max-height: 80px; /* Collapsed height */
	transition: max-height 0.25s ease-in; /* animation */
}  

.favoritesText {
	font-size: 24px;
	margin-left: 16px;
	margin-top: 8px;
	margin-bottom: 16px;
}

.favoritesText:hover {
	cursor: pointer;
	background-color: #f0f0f0;
}

.favorites {
	display: flex;
	justify-content: space-between;
}

.recipeImage {
	width: 100%;
	height: auto;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
  }

.favoriteCard {
	border-radius: 4px;
	border: 1px solid #d0d0d0;
	width: 308px;
	max-height: 250px;
	overflow-y: auto;
	margin: 10px;
	text-align: left;
	position: relative;
}

.recipeImageContainer {
	height: 200px;
	overflow: hidden;
	position: relative;
}

.recipeImageContainer::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
	pointer-events: none;
}

.popupButton:hover {
	cursor: pointer;
	background-color: #f0f0f0;
}

.emptyFavs {
	color: rgb(170, 170, 170);
	margin-left: 0; /* Remove the left margin to center the message */
}

.recipePopupContainer {
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 9999;
    /* background-color: rgba(0, 0, 0, 0.5); Black overlay with some transparency */
}

.popupBackground {
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.3;
	position: absolute;
}

.popupRecipeCard {
    margin: auto;
    width: 50%;
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    background-color: white;
    position: relative;
	max-height: 80%;
	overflow-y: scroll;
    /* top: 150px;  */
}

.mb1 {
	margin-bottom: 4px;
}

.mb5 {
	margin-bottom: 1.5rem;
}

.noScroll {
	overflow: hidden;
    /* height: 100%; */
    /* width: 100%; */
}
