[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>


<div class="section" id="vue-target" v-cloak>
  <!-- Put here your Vue.js template -->

  <!-- Pantry input box -->
  <!-- <div class="pb-4"> -->
  <!--   <input class="input is-info" type="text" placeholder="Enter pantry ingredient"> -->
  <!--   <button class="button is-primary">Add Single Pantry Ingredient</button> -->
  <!-- </div> -->
  <div class="field pb-4">
    <p class="control has-icons-right pb-4">
      <input class="input" type="text" placeholder="Enter pentry ingredient" v-model="ingredientInput">
      <span class="icon is-small is-right clickable" @click="clearIngredientInput">
        <i class="fa fa-times-circle"></i>
      </span>
    </p>
    <button class="button is-primary">Add Single Pantry Ingredient</button>
  </div>


  <!-- Main columns div -->
  <div class="columns">

    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <div class="content">
            Single AI Generated Recipe
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <div class="content">
            Single AI Generated Recipe
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <div class="content">
            Single AI Generated Recipe
          </div>
        </div>
      </div>
    </div>

    <!-- columns end div -->
  </div>

  <!-- section end div -->
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
