[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<div class="section" id="vue-target" v-cloak>

  <div class="columns">
    <!-- Main container column -->
    <div class="column is-8 is-offset-2">
      <div class="columns">
        <!-- Pantry column -->
        <div class="column is-8">
          <!-- Whole pantry element -->
          <section :class="{ mb1: (numPantryRows > 5),  mb5: (numPantryRows <= 5) }">
            <div class="pantryBox">
              <div class="columns m-0">
                <div class="column is-6 p-0">
                  <header class="titleText">My pantry</header>
                </div>
                <div class="column is-6 p-0">
                  <div class="mt-3">
                    <div class="pantryTextBoxContainer">
                      <div class="control has-icons-right">
                        <input class="pantryTextBox" type="text" placeholder="Add item" maxlength="28"
                          v-model="ingredientInput" v-on:keyup.enter="addItemToPantry(); pantryExpanded=true;">
                        <span v-show="ingredientInput.length != 0" class="icon is-right is-clickable"
                          @click="clearIngredientInput">
                          <i class="fa fa-times-circle"></i>
                        </span>
                      </div>
                    </div>
                    <div class="is-clickable addButton" @click="addItemToPantry(); pantryExpanded=true;">
                      <i class="fa fa-plus"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pantryBody">
                <div v-if="pantry.length == 0" class="emptyPantry">Add some items...</div>
                <div v-if="pantryExpanded == false" v-for="n in 5" class="itemRow">
                  <div class="columns">
                    <div class="column is-6 mt-3 mb-3 p-0">
                      <!-- Left pantry item not expanded -->
                      <div v-if="pantry.length > (n+n-2)" class="pantryItem ml-3" @mouseenter="displayTrash = n+n-1"
                        @mouseleave="displayTrash = -1">
                        <span class="level top-8">
                          <span class="level-left ml-1">{{pantry[(n+n-2)].item}}</span>
                          <span v-if="displayTrash == n+n-1"
                            class="icon level-right is-small is-clickable mr-2 icon-color">
                            <i class="fa fa-trash" @click="deleteItem(pantry[(n+n-2)].id)"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="column is-6 mt-3 mb-3 p-0">
                      <!-- Right pantry item not expanded -->
                      <div v-if="pantry.length > (n+n-1)" class="pantryItem mr-3" @mouseenter="displayTrash = n+n"
                        @mouseleave="displayTrash = -1">
                        <span class="level top-8">
                          <span class="level-left ml-1">{{pantry[(n+n-1)].item}}</span>
                          <span v-if="displayTrash == n+n"
                            class="icon level-right is-small is-clickable mr-2 icon-color">
                            <i class="fa fa-trash" @click="deleteItem(pantry[(n+n-1)].id)"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-if="pantryExpanded == true" v-for="n in numPantryRows" class="itemRow">
                  <div class="columns">
                    <div class="column is-6 mt-3 mb-3 p-0">
                      <!-- Left pantry item expanded -->
                      <div v-if="pantry.length > (n+n-2)" class="pantryItem ml-3" @mouseenter="displayTrash = n+n-1"
                        @mouseleave="displayTrash = -1">
                        <span class="level top-8">
                          <span class="level-left ml-1">{{pantry[(n+n-2)].item}}</span>
                          <span v-if="displayTrash == n+n-1"
                            class="icon level-right is-small is-clickable mr-2 icon-color">
                            <i class="fa fa-trash" @click="deleteItem(pantry[(n+n-2)].id)"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="column is-6 mt-3 mb-3 p-0">
                      <!-- Right pantry item expanded -->
                      <div v-if="pantry.length > (n+n-1)" class="pantryItem mr-3" @mouseenter="displayTrash = n+n"
                        @mouseleave="displayTrash = -1">
                        <span class="level top-8">
                          <span class="level-left ml-1">{{pantry[(n+n-1)].item}}</span>
                          <span v-if="displayTrash == n+n"
                            class="icon level-right is-small is-clickable mr-2 icon-color">
                            <i class="fa fa-trash" @click="deleteItem(pantry[(n+n-1)].id)"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="(numPantryRows > 5) & (!pantryExpanded)" class="pb-3"></div>
            </div>
            <div v-if="numPantryRows > 5">
              <div v-if="!pantryExpanded" class="expandButton is-clickable" @click="pantryExpanded=true">
                <span class="expand-text">More</span>
                <span class="chevron-icon">
                  <i class="fa fa-chevron-down mt-1"></i>
                </span>
              </div>
              <div v-else class="collapseButton is-clickable" @click="pantryExpanded=false">
                <span class="expand-text">Less</span>
                <span class="chevron-icon">
                  <i class="fa fa-chevron-up mt-1"></i>
                </span>
              </div>
            </div>
          </section>

          <!-- Favorites section -->
          <section class="favoritesContainer mb-5" :class="{ collapsed: !favoritesExpanded }">
            <header class="favoritesText" @click="toggleFavoritesExpanded">Favorites</header>
            <div class="columns">
              <div class="favorites">
                <div v-if="favorites.length == 0" class="emptyFavs">Add some favorites...</div>
                <article v-for="fav in favorites" class="favoriteCard">
                  <div class="recipeHeader" @click="selectRecipePopup(1, fav._idx)">
                    <div class="recipeTitle">{{fav.title}}</div>
                    <div class="recipeIcons">
                      <i v-if="fav.pinned == false" class="fa fa-thumb-tack mr-2 unPinnedColor"
                        @click.stop="togglePin(fav._idx)"></i>
                      <i v-else class="fa fa-thumb-tack mr-2 PinnedColor" @click.stop="togglePin(fav._idx)"></i>
                      <i class="fa fa-star mr-2 unfavButton unfav-color" @click.stop="deleteFav(fav._idx)"></i>
                    </div>
                  </div>
                  <div class="recipeBody">
                    <div class="recipeContent">Ingredients:</div>
                    <div v-for="ingredient in fav.ingredients" class="recipeContent">{{ingredient}}</div>
                    <div class="recipeContent">
                      <br>
                      Instructions:
                    </div>
                    <div v-for="instructions in fav.instructions" class="recipeContent">{{instructions}}</div>
                  </div>
                </article>
              </div>
            </div>
          </section>

          <!-- Pinned Recipes Section -->
          <section class="favoritesContainer" :class="{ collapsed: !pinnedRecipesExpanded }">
            <header class="favoritesText" @click="togglePinnedRecipesExpanded">Pinned Recipes</header>
            <div class="columns">
              <div class="favorites">
                <div v-if="pinned.length == 0" class="emptyFavs">No users have a recipe pinned D:</div>
                <article v-for="(pinnedRecipe, idx) in pinned" :key="pinnedRecipe._idx" class="favoriteCard">
                  <!-- <p>Recipe Title: {{ pinnedRecipe.title }}</p>
                  <p>Image URL: {{ pinnedRecipe.imageUrl }}</p> -->
                  <div class="recipeHeader" @click="selectRecipePopup(2, pinnedRecipe._idx)">
                    <span class="recipeTitle">{{ pinnedRecipe.title }}</span>
                    <div class="level">
                      <div class="level-left">
                        <span v-if="user_id == pinnedRecipe.user_id" class="level-item icon is-small is-clickable">
                          <i class="fa fa-image" @click.stop="toggleEditingPinnedImage "></i>
                        </span>
                      </div>
                      <div class="level-right">
                        <span class="level-item">User: {{ pinnedRecipe.user_name }}</span>
                      </div>
                    </div>
                  </div>
                  <div v-if="editingPinnedImage && user_id == pinnedRecipe.user_id">
                    <div class="level">
                      <input v-model="pinnedRecipeImageURLInput" class="input" type="text" placeholder="Image URL">
                    </div>
                    <div class="level">
                      <span class="level-left">
                        <button class="button is-small is-danger"
                          @click="deletePinnedImageURL(pinnedRecipe.dbID)">Delete Image
                          URL</button>
                      </span>
                      <span class="level-right">
                        <button class="button is-small is-info" @click="setPinnedImageURL(pinnedRecipe.dbID)">Set
                          Image
                          URL</button>
                      </span>
                    </div>
                  </div>
                  <div v-if="pinnedRecipe.imageUrl" class="recipeImageContainer">
                    <img :src="pinnedRecipe.imageUrl" class="recipeImage" />
                  </div>
                  <!-- <span v-else>No image set</span> -->
                  <div class="recipeBody">
                    <div class="recipeContent">Ingredients:</div>
                    <div v-for="ingredient in pinnedRecipe.ingredients" class="recipeContent">{{ ingredient }}</div>
                    <div class="recipeContent">
                      <br>
                      Instructions:
                    </div>
                    <div v-for="instructions in pinnedRecipe.instructions" class="recipeContent">{{ instructions }}
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </section>


        </div>
        <!-- Recipes Column -->
        <div class="column is-4">
          <div class="recipesColumn">
            <article class="is-clickable generateButton" @click="addRecipe">Generate New Recipe</article>

            <article v-for="recipe in recipes" class="recipeCard">
              <div class="recipeHeader" @click="selectRecipePopup(0, recipe._idx)">
                <div class="recipeTitle">{{recipe.title}}</div>
                <div class="recipeIcons">
                  <i class="fa fa-star mr-2 favButton" @click.stop="favRecipe(recipe._idx)"></i>
                  <i class="fa fa-trash ml-2 trashButton" @click.stop="deleteRecipe(recipe._idx)"></i>
                </div>
              </div>

              <div v-if="recipe.show" class="recipeBody">
                <button v-if="recipe.loading" class="button is-link is-loading">Loading...</button>
                <div v-if="!recipe.loading" class="recipeContent">Ingredients:</div>
                <div v-for="ingredient in recipe.ingredients" class="recipeContent">{{ingredient}}</div>
                <div v-if="!recipe.loading" class="recipeContent">
                  <br>
                  Instructions:
                </div>
                <div v-for="instructions in recipe.instructions" class="recipeContent">{{instructions}}</div>

              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div v-if="recipePopup" class="recipePopupContainer">
    <div class="popupBackground" @click="recipePopup = false"></div>
    <section class="popupRecipeCard">
      <div class="recipeHeader">
        <span class="">{{selectedRecipe.title}}</span>
      </div>
      <div class="recipeBody">
        <div class="recipeContent">Ingredients:</div>
        <div v-for="ingredient in selectedRecipe.ingredients" class="recipeContent">{{ingredient}}</div>
        <div class="recipeContent">
          <br>
          Instructions:
        </div>
        <div v-for="instructions in selectedRecipe.instructions" class="recipeContent">{{instructions}}</div>
      </div>
    </section>
  </div>

  <!-- <button class="button is-warning" @click="generateRecipeSuggestion">Test AI Completion python function</button> -->

  <!-- section end div -->
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let getPantry_url = "[[=XML(getPantry_url)]]";
  let addItemToPantry_url = "[[=XML(addItemToPantry_url)]]";
  let deleteItem_url = "[[=XML(deleteItem_url)]]";
  let generateRecipeSuggestion_url = "[[=XML(generateRecipeSuggestion_url)]]";
  let getRecipes_url = "[[=XML(getRecipes_url)]]";
  let deleteRecipe_url = "[[=XML(deleteRecipe_url)]]";
  let favRecipe_url = "[[=XML(favRecipe_url)]]";
  let getFavs_url = "[[=XML(getFavs_url)]]";
  let deleteFav_url = "[[=XML(deleteFav_url)]]";
  let togglePin_url = "[[=XML(togglePin_url)]]";
  let getPinned_url = "[[=XML(getPinned_url)]]";
  let getUserID_url = "[[=XML(getUserID_url)]]";
  let setPinnedRecipeImageURL_url = "[[=XML(setPinnedRecipeImageURL_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
